* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  color-scheme: light dark;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 1;
}

body {
  margin: 0;
}

.hero-section {
  position: relative;
  min-height: 100vh;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  text-align: center;
  overflow: hidden;
}

.hero-section::before,
.hero-section::after {
  content: "";
  position: absolute;
  display: block;
  width: 25vmax;
  aspect-ratio: 1;
  border-radius: 50%;
  z-index: -1;
  transform-origin: center;
  opacity: 0.6;
  filter: blur(1vmax);
  background-image: linear-gradient(45deg, #1c71d8, #2ec27e);
}

.hero-section::before {
  inset-block-start: 0;
  inset-inline-start: 0;
  transform: translate(-20%, -60%) scale(1.2);
}

.hero-section::after {
  inset-block-end: 0;
  inset-inline-end: 0;
  transform: translate(60%, -20%);
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.page-title {
  display: flex;
  flex-wrap: wrap;
  gap: 0.2ch;
  align-items: center;

  font-size: 2.5rem;
}

.page-title svg {
  height: 1em;
  fill: currentColor;
}

.page-title h1 {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 900;
}

.button {
  position: relative;
  display: block;
  color: inherit;
  text-decoration: none;

  border-radius: 1rem;
  padding: 0.6rem 1.2rem;
  overflow: hidden;
  isolation: isolate;

  text-transform: uppercase;
  font-weight: 600;

  border: 0.15rem solid currentColor;

  transition: background-color 0.2s;
}

.button span {
  transition: filter 0.2s;
}

.button:hover {
  background-color: currentColor;
}

.button:hover span {
  filter: invert(1);
}
